/* The <ul> tag defines an unordered (bulleted) list */
.navBar ul {
    /* Remove list bullets */
    list-style-type: none;
    
    /* The CSS margin properties are used to create space around elements, outside of any defined borders */
    margin: 0;
    
    /* The CSS padding properties are used to generate space around an element's content, inside of any defined borders. */
    padding: 0;
    
    /* The overflow property specifies what should happen if content overflows an element's box. */
    overflow: hidden;
    /*width: 100%;*/
    /*margin-top: -107px;*/
    
    /*  */
    background-color: seashell;
    box-shadow: 0px 15px 10px -15px #111; 
    /*position: fixed;*/
}

/*#navHome ul {
    position: fixed;
    width: 100%;
    margin-top: -107px;
}

#navAbout ul {
    position: fixed;
    width: 100%;
    margin-top: -200px;
}

#navContact {
    position: fixed;
    width: 100%;
    margin-top: -100px;
    
}*/

/* The <li> tag is used inside ordered lists(<ol>), unordered lists (<ul>), and in menu lists (<menu>). */
li {
    /* The float property is used for positioning and formatting content e.g. let an image float left to the text in a container. */
    float: left;
}
/* The <a> tag defines a hyperlink, which is used to link from one page to another. */
li a {
    /* The display property specifies the display behavior (the type of rendering box) of an element. */
    display: block;
    
    /*  */
    color: #111;
    
    /* The text-align property specifies the horizontal alignment of text in an element. */
    text-align: center;
    
    /* The CSS padding properties are used to generate space around an element's content, inside of any defined borders. */
    padding: 14px 16px;
    
    /* The text-decoration property specifies the decoration added to text */
    text-decoration: none;
}
/* The :hover selector is used to select elements when you mouse over them. */
li a:hover {
    /*  */
    background-color: rgb(149, 199, 171);
}

li a .active {
    /*  */
    background-color: #111;
}

.toppest {
    font-family: 'Stick No Bills', sans-serif;
    font-size: 5em;
    color: aliceblue;
    margin-left: 10%;
    margin-bottom: 500px;
    width: 100%;
}


#h5home {
    font-size: 1em;
}


body {
    background-image: url(./images/bgbetter.jpg);
    background-size: 170%;
    background-attachment: fixed;
    background-position: 50%;
    margin: 0%;
    animation: fadebackground 50s infinite;
}
@keyframes fadebackground {
    0% {background-size: 170%;}
    50% {background-size: 200%;}
    100% {background-size: 170%;}
  } 

body::before {
    background-color: rgba(0, 0, 0, 0.25);
}

#biggestbox {
    height: 500px;
    background-color: seagreen;

}

#biggestbox a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    border-radius: 25px;
    overflow: hidden;
}

#biggestbox img:hover {
    opacity: 0.5;
}

#smallerbox {
    margin: auto;
    width: auto;
    background: seashell;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 3em;
    box-shadow: 0px 15px 10px -15px #111;  
    text-align: center;

}

#aboutbox {
    border-radius: 25px;
    border: 6px solid seashell;
    padding: 20px; 
    width: 60%;
    height: 600px;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: seagreen;

}

#aboutbox h1 {
    font-family: 'Roboto Mono' , monospace;
    font-weight: bold;
}

#aboutbox p {
    font-family: 'Roboto Mono' , monospace;
}

#aboutbox img {
    border-radius: 50%;
    border: 6px solid seashell;
    max-width: 30%;
    max-height: 30%;
    position: relative;
    top: -120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.box_form {
    background-color: seashell;
    border-radius: 4px;
    margin-top: 100px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    height: 800px;
    padding: 20px;
    font-family: 'Roboto Mono' , monospace;
}

.box_form h2 {
    text-align: center;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: seagreen;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: rgb(43, 83, 61);
  }

  .instagram {
    display: inline-block;
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    font-size: 80px;
    line-height: 100px;
    vertical-align: middle;
    background: seagreen;
    margin-top: 265px;
    
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  }

  .instagram:hover {
      background: rgb(43, 83, 61);
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 100px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin: 70px;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 300px;
    height: 300px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 300px;
    height: 300px;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 50%;
    overflow: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: seagreen;
    color: white;
    transform: rotateY(180deg);
    padding: 15%;
    box-sizing: border-box;
  }


  