/* The <ul> tag defines an unordered (bulleted) list */
ul {
    /* Remove list bullets */
    list-style-type: none;
    
    /* The CSS margin properties are used to create space around elements, outside of any defined borders */
    margin: 0;
    
    /* The CSS padding properties are used to generate space around an element's content, inside of any defined borders. */
    padding: 0;
    
    /* The overflow property specifies what should happen if content overflows an element's box. */
    overflow: hidden;
    
    /*  */
    background-color: #333;
    box-shadow: 0px 15px 10px -15px #111; 
}
/* The <li> tag is used inside ordered lists(<ol>), unordered lists (<ul>), and in menu lists (<menu>). */
li {
    /* The float property is used for positioning and formatting content e.g. let an image float left to the text in a container. */
    float: left;
}
/* The <a> tag defines a hyperlink, which is used to link from one page to another. */
li a {
    /* The display property specifies the display behavior (the type of rendering box) of an element. */
    display: block;
    
    /*  */
    color: white;
    
    /* The text-align property specifies the horizontal alignment of text in an element. */
    text-align: center;
    
    /* The CSS padding properties are used to generate space around an element's content, inside of any defined borders. */
    padding: 14px 16px;
    
    /* The text-decoration property specifies the decoration added to text */
    text-decoration: none;
}
/* The :hover selector is used to select elements when you mouse over them. */
li a:hover {
    /*  */
    background-color: #666;
}

li a .active {
    /*  */
    background-color: #111;
}

header {
    font-family: 'Stick No Bills', sans-serif;
    font-size: 5em;
    color: aliceblue;
    margin-left: 10%;
    margin-bottom: 40%;
}

#h5home {
    font-size: 1em;
}


body {
    background-image: url(images/new_bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: 50% -50px;
}

body::before {
    background-color: rgba(0, 0, 0, 0.25);
}

#biggestbox {
    height: 600px;
    background-color: seagreen;
}

#smallerbox {
    margin: auto;
    width: auto;
    background: seashell;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 3em;
    box-shadow: 0px 15px 10px -15px #111;  
    text-align: center;

}

#aboutbox {
    border-radius: 25px;
    border: 6px solid #777c7b;
    padding: 20px; 
    width: 200px;
    height: 150px; 